body {
	font-family: "helvetica", sans-serif;
	text-align: center;
}

#avatar{
  background-image: url(../images/sunset_storage_logo.png);
  background-color: #f8b739;
}

dl {
  width: 600px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}
dt {
  float: left;
  text-align: right;
  font-weight: bold;
  width: 49%;
  padding-right: 5px;
  margin-right: 0;
}
dd {
  float: left;
  text-align: left;
  width: 49%;
  padding-left: 5px;
  margin: 0
}