<!doctype html>
<html>
	<head>
		<title>CSP Dropbox</title>
		<link rel="icon" href="#" type="image/x-icon" sizes="16x16">
		<script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
		<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
		<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
		<h1>Welcome to CSP Dropbox</h1>
		<div id="firebase-auth-container"></div>
		<button id="sign-out" hidden="true">Sign out</button>
		<div id="login-info" hidden="true">
			<h2>Login Info</h2>
			{% if user_data %}
                <dl>
                    <dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
                    <dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
                </dl>

				<h3>Add Directory</h3>
				<form action="/add_directory" method="post">
					<dl>
						<dt><label for="dir_name">Directory Name:</label></dt>
						<dd><input type="text" name="dir_name" id="dir_name" /></dd>
						<dt>&nbsp</dt><dd><input type="submit" value="Add Directory" name="button" /></dd>
					</dl>
				</form>
				<br />
				<form action="/upload_file" method="post" enctype="multipart/form-data">
					<dl>
						<dt><label for="file_name">Upload File:</label></dt>
						<dd><input type="file" name="file_name" id="file_name" /></dd>
						<dt>&nbsp</dt><dd><input type="submit" value="Upload File" name="button" /></dd>
					</dl>
				</form>
				<br />
				<h3>List of Directories</h3>
				{% for i in directory_list %}
					<dl>
						<dt>Name:</dt><dd>{{ i.name }}</dd>
					</dl>
				{% endfor %}
				<br />
				<h3>List of Files</h3>
				{% for i in file_list %}
					<form action="/download_file/{{ i.name }}" method="post">
						<dl>
							<dt>File Name:</dt><dd>{{ i.name }}</dd>
							<dt>&nbsp</dt><dd><input type="submit" value="Download" name="button" /></dd>
						</dl>
					</form>
				{% endfor %}
			{% elif error_message %}
			    <p>Error Message: {{ error_message }}</p>
			{% endif %}
		</div>
	</body>
</html>